<div class="mb-4" aria-label="Add new task">
  <div class="row">
    <!-- Task description -->
    <div class="col-12 col-md-4 mb-2 mb-md-0">
      <input
        type="text"
        class="form-control"
        placeholder="Enter task..."
        [value]="taskDescription$ | async"
        (input)="taskDescription$.next($any($event.target).value)"
        required>
    </div>
    <!-- Task due date -->
    <div class="col-12 col-md-3 mb-2 mb-md-0">
      <input
        type="date"
        class="form-control"
        aria-label="Task due date"
        [value]="dueDate$ | async"
        (input)="dueDate$.next($any($event.target).value)">
    </div>
    <!-- Task priority -->
    <div class="col-12 col-md-3 mb-2 mb-md-0">
      <select
        class="form-control"
        aria-label="Task priority"
        [value]="priority$ | async"
        (change)="priority$.next($any($event.target).value)">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <!-- Add Task Button -->
    <div class="col-12 col-md-2">
      <button class="btn btn-primary btn-block" type="button" (click)="onAddTask()">
        Add Task
      </button>
    </div>
  </div>
</div>
