<div class="container shadow p-4 bg-white rounded">
  <!-- Filter and Sort Row -->
  <div class="row mb-3">
    <!-- Filter Buttons -->
    <div class="col-12 col-md-6 mb-2 mb-md-0 text-left">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary"
                [ngClass]="{'active': (filterSubject | async) === 'all'}"
                (click)="setFilter('all')">
          All
        </button>
        <button type="button" class="btn btn-outline-primary"
                [ngClass]="{'active': (filterSubject | async) === 'completed'}"
                (click)="setFilter('completed')">
          Completed
        </button>
        <button type="button" class="btn btn-outline-primary"
                [ngClass]="{'active': (filterSubject | async) === 'incomplete'}"
                (click)="setFilter('incomplete')">
          Incomplete
        </button>
      </div>
    </div>

    <!-- Sort Dropdown -->
    <div class="col-12 col-md-6 text-center text-md-right">
      <div class="input-group">
        <div class="input-group-prepend" style="margin-right: 10px;">
          <span class="input-group-text">Sort by</span>
        </div>
        <select class="form-control" (change)="setSortOption($any($event.target).value)">
          <option value="default">Default</option>
          <option value="dueDate">Due Date</option>
          <option value="priority">Priority</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Task List -->
  <ul class="list-group" [@listAnimation]>
    <ng-container *ngIf="filteredTasks$ | async as filteredTasks">
      <app-task-item
        *ngFor="let task of filteredTasks"
        [task]="task"
        (deleteTask)="onTaskDeleted($event)">
      </app-task-item>
    </ng-container>
  </ul>

  <!-- Deleted Task Alert -->
  <div *ngIf="recentlyDeletedTask" class="alert alert-warning alert-dismissible mt-3 text-center" role="alert">
    Task deleted
    <p-button label="Undo" (click)="undoDelete()" [style]="{'background': '#007acc'}" ></p-button>
  </div>
</div>
